<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Text Wrapping Around Image</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
    />
  </head>
  <body class="p-4 bg-gray-100">
    <div class="clearfix">
      <img
        src="https://www.loliapi.com/acg/"
        alt="Random iamge"
        class="float-right w-48 h-48 rounded-lg mr-4"
      />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        soluta saepe nam minima accusamus ab nobis optio temporibus? Delectus ut
        magni pariatur nam corrupti nemo laudantium ad in a reiciendis?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
        molestias expedita deserunt nam id dolorum quidem veniam incidunt eos
        nesciunt similique, libero officia reprehenderit ut nobis harum beatae
        a?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem saepe at
        perferendis ducimus eius quo qui itaque voluptas modi excepturi. Sint
        quaerat, hic quas fugiat facere accusamus vero harum. Sed.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
        voluptatibus ut error, ea nobis praesentium amet laboriosam vel,
        doloremque repudiandae, eligendi necessitatibus distinctio ad
        voluptates. Incidunt, quae odit. Quo, neque!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iste
        inventore, molestias nostrum laboriosam consequatur! Eos molestiae
        veritatis provident nulla dolorem, molestias sunt itaque consequuntur
        ratione fugit deleniti, id ipsa!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ipsum
        accusamus tempora tempore quaerat dolore veniam id ea molestias
        cupiditate quidem, quisquam fuga nemo aliquid dolores incidunt nesciunt.
        Accusantium, reprehenderit.
      </p>
    </div>

    <div class="clearfix">
      <img
        src="https://www.loliapi.com/acg/"
        alt="Random iamge"
        class="float-left w-48 h-48 rounded-lg mr-4"
      />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        soluta saepe nam minima accusamus ab nobis optio temporibus? Delectus ut
        magni pariatur nam corrupti nemo laudantium ad in a reiciendis?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
        molestias expedita deserunt nam id dolorum quidem veniam incidunt eos
        nesciunt similique, libero officia reprehenderit ut nobis harum beatae
        a?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem saepe at
        perferendis ducimus eius quo qui itaque voluptas modi excepturi. Sint
        quaerat, hic quas fugiat facere accusamus vero harum. Sed.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
        voluptatibus ut error, ea nobis praesentium amet laboriosam vel,
        doloremque repudiandae, eligendi necessitatibus distinctio ad
        voluptates. Incidunt, quae odit. Quo, neque!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iste
        inventore, molestias nostrum laboriosam consequatur! Eos molestiae
        veritatis provident nulla dolorem, molestias sunt itaque consequuntur
        ratione fugit deleniti, id ipsa!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ipsum
        accusamus tempora tempore quaerat dolore veniam id ea molestias
        cupiditate quidem, quisquam fuga nemo aliquid dolores incidunt nesciunt.
        Accusantium, reprehenderit.
      </p>
    </div>

    <div class="clearfix">
      <img
        src="https://www.loliapi.com/acg/"
        alt="Random iamge"
        class="float-left w-48 h-48 rounded-lg mr-4"
      />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        soluta saepe nam minima accusamus ab nobis optio temporibus? Delectus ut
        magni pariatur nam corrupti nemo laudantium ad in a reiciendis?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
        molestias expedita deserunt nam id dolorum quidem veniam incidunt eos
        nesciunt similique, libero officia reprehenderit ut nobis harum beatae
        a?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem saepe at
        perferendis ducimus eius quo qui itaque voluptas modi excepturi. Sint
        quaerat, hic quas fugiat facere accusamus vero harum. Sed.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
        voluptatibus ut error, ea nobis praesentium amet laboriosam vel,
        doloremque repudiandae, eligendi necessitatibus distinctio ad
        voluptates. Incidunt, quae odit. Quo, neque!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iste
        inventore, molestias nostrum laboriosam consequatur! Eos molestiae
        veritatis provident nulla dolorem, molestias sunt itaque consequuntur
        ratione fugit deleniti, id ipsa!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ipsum
        accusamus tempora tempore quaerat dolore veniam id ea molestias
        cupiditate quidem, quisquam fuga nemo aliquid dolores incidunt nesciunt.
        Accusantium, reprehenderit.
      </p>
    </div>

    <div class="clearfix">
      <img
        src="https://www.loliapi.com/acg/"
        alt="Random iamge"
        class="float-right w-48 h-48 rounded-lg mr-4"
      />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        soluta saepe nam minima accusamus ab nobis optio temporibus? Delectus ut
        magni pariatur nam corrupti nemo laudantium ad in a reiciendis?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
        molestias expedita deserunt nam id dolorum quidem veniam incidunt eos
        nesciunt similique, libero officia reprehenderit ut nobis harum beatae
        a?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem saepe at
        perferendis ducimus eius quo qui itaque voluptas modi excepturi. Sint
        quaerat, hic quas fugiat facere accusamus vero harum. Sed.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
        voluptatibus ut error, ea nobis praesentium amet laboriosam vel,
        doloremque repudiandae, eligendi necessitatibus distinctio ad
        voluptates. Incidunt, quae odit. Quo, neque!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iste
        inventore, molestias nostrum laboriosam consequatur! Eos molestiae
        veritatis provident nulla dolorem, molestias sunt itaque consequuntur
        ratione fugit deleniti, id ipsa!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ipsum
        accusamus tempora tempore quaerat dolore veniam id ea molestias
        cupiditate quidem, quisquam fuga nemo aliquid dolores incidunt nesciunt.
        Accusantium, reprehenderit.
      </p>
    </div>

    <div class="clearfix">
      <img
        src="https://www.loliapi.com/acg/"
        alt="Random iamge"
        class="float-none w-48 h-48 rounded-lg mr-4"
      />

      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatum
        soluta saepe nam minima accusamus ab nobis optio temporibus? Delectus ut
        magni pariatur nam corrupti nemo laudantium ad in a reiciendis?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et suscipit
        molestias expedita deserunt nam id dolorum quidem veniam incidunt eos
        nesciunt similique, libero officia reprehenderit ut nobis harum beatae
        a?
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem saepe at
        perferendis ducimus eius quo qui itaque voluptas modi excepturi. Sint
        quaerat, hic quas fugiat facere accusamus vero harum. Sed.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos
        voluptatibus ut error, ea nobis praesentium amet laboriosam vel,
        doloremque repudiandae, eligendi necessitatibus distinctio ad
        voluptates. Incidunt, quae odit. Quo, neque!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iste
        inventore, molestias nostrum laboriosam consequatur! Eos molestiae
        veritatis provident nulla dolorem, molestias sunt itaque consequuntur
        ratione fugit deleniti, id ipsa!
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse ipsum
        accusamus tempora tempore quaerat dolore veniam id ea molestias
        cupiditate quidem, quisquam fuga nemo aliquid dolores incidunt nesciunt.
        Accusantium, reprehenderit.
      </p>
    </div>
  </body>
</html>